In [12]:
import pandas as pd

df = pd.read_csv('survey.csv')
df.shape #gives us rows and cols count

(64461, 61)

In [16]:
df.info() #if you need more info about DATA TYPES (strings, ints etc)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64461 entries, 0 to 64460
Data columns (total 61 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Respondent                    64461 non-null  int64
 1   MainBranch                    64162 non-null  object
 2   Hobbyist                      64416 non-null  object
 3   Age                           45446 non-null  float64
 4   Age1stCode                    57900 non-null  object
 5   CompFreq                      40069 non-null  object
 6   CompTotal                     34826 non-null  float64
 7   ConvertedComp                 34756 non-null  float64
 8   Country                       64072 non-null  object
 9   CurrencyDesc                  45472 non-null  object
 10  CurrencySymbol                45472 non-null  object
 11  DatabaseDesireNextYear        44070 non-null  object
 12  DatabaseWorkedWith            49537 non-null  object
 13  DevType                       49370 non-null  object
 14  EdLevel                       57431 non-null  object
 15  Employment                    63854 non-null  object
 16  Ethnicity                     45948 non-null  object
 17  Gender                        50557 non-null  object
 18  JobFactors                    49349 non-null  object
 19  JobSat                        45194 non-null  object
 20  JobSeek                       51727 non-null  object
 21  LanguageDesireNextYear        54113 non-null  object
 22  LanguageWorkedWith            57378 non-null  object
 23  MiscTechDesireNextYear        42379 non-null  object
 24  MiscTechWorkedWith            40314 non-null  object
 25  NEWCollabToolsDesireNextYear  47287 non-null  object
 26  NEWCollabToolsWorkedWith      52883 non-null  object
 27  NEWDevOps                     42686 non-null  object
 28  NEWDevOpsImpt                 41732 non-null  object
 29  NEWEdImpt                     48465 non-null  object
 30  NEWJobHunt                    42286 non-null  object
 31  NEWJobHuntResearch            41022 non-null  object
 32  NEWLearn                      56156 non-null  object
 33  NEWOffTopic                   50804 non-null  object
 34  NEWOnboardGood                42623 non-null  object
 35  NEWOtherComms                 57205 non-null  object
 36  NEWOvertime                   43231 non-null  object
 37  NEWPurchaseResearch           37321 non-null  object
 38  NEWPurpleLink                 54803 non-null  object
 39  NEWSOSites                    58275 non-null  object
 40  NEWStuck                      54983 non-null  object
 41  OpSys                         56228 non-null  object
 42  OrgSize                       44334 non-null  object
 43  PlatformDesireNextYear        50605 non-null  object
 44  PlatformWorkedWith            53843 non-null  object
 45  PurchaseWhat                  39364 non-null  object
 46  Sexuality                     43992 non-null  object
 47  SOAccount                     56805 non-null  object
 48  SOComm                        56476 non-null  object
 49  SOPartFreq                    46792 non-null  object
 50  SOVisitFreq                   56970 non-null  object
 51  SurveyEase                    51802 non-null  object
 52  SurveyLength                  51701 non-null  object
 53  Trans                         49345 non-null  object
 54  UndergradMajor                50995 non-null  object
 55  WebframeDesireNextYear        40024 non-null  object
 56  WebframeWorkedWith            42279 non-null  object
 57  WelcomeChange                 52683 non-null  object
 58  WorkWeekHrs                   41151 non-null  float64
 59  YearsCode                     57684 non-null  object
 60  YearsCodePro                  46349 non-null  object
dtypes: float64(4), int64(1), object(56)
memory usage: 16.2+ MB

In [20]:
# once we know how many rows x cols we've got, 
# we might tweak options to show all cols for example:
pd.set_option('display.max_columns', 61) # max 61 cols now, check df.head(1)
df.head(1) # here we go:

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,DatabaseDesireNextYear,DatabaseWorkedWith,DevType,EdLevel,Employment,Ethnicity,Gender,JobFactors,JobSat,JobSeek,LanguageDesireNextYear,LanguageWorkedWith,MiscTechDesireNextYear,MiscTechWorkedWith,NEWCollabToolsDesireNextYear,NEWCollabToolsWorkedWith,NEWDevOps,NEWDevOpsImpt,NEWEdImpt,NEWJobHunt,NEWJobHuntResearch,NEWLearn,NEWOffTopic,NEWOnboardGood,NEWOtherComms,NEWOvertime,NEWPurchaseResearch,NEWPurpleLink,NEWSOSites,NEWStuck,OpSys,OrgSize,PlatformDesireNextYear,PlatformWorkedWith,PurchaseWhat,Sexuality,SOAccount,SOComm,SOPartFreq,SOVisitFreq,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,EUR,Microsoft SQL Server,Elasticsearch;Microsoft SQL Server;Oracle,"Developer, desktop or enterprise applications;...","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Independent contractor, freelancer, or self-em...",White or of European descent,Man,"Languages, frameworks, and other technologies ...",Slightly satisfied,I am not interested in new job opportunities,C#;HTML/CSS;JavaScript,C#;HTML/CSS;JavaScript,.NET Core;Xamarin,.NET;.NET Core,Microsoft Teams;Microsoft Azure;Trello,Confluence;Jira;Slack;Microsoft Azure;Trello,No,Somewhat important,Fairly important,NaN,NaN,Once a year,Not sure,NaN,No,Often: 1-2 days per week or more,Start a free trial;Ask developers I know/work ...,Amused,Stack Overflow (public Q&A for anyone who codes),Visit Stack Overflow;Go for a walk or other ph...,Windows,2 to 9 employees,Android;iOS;Kubernetes;Microsoft Azure;Windows,Windows,NaN,Straight / Heterosexual,No,"No, not at all",NaN,Multiple times per day,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27

In [23]:
# You can create your own data frames from structures 
# (list, sets for example). Lets take a look:
people = {
    'name': ['Power', 'Rangers', 'Ritta'],
    'last_name': ['Zordon', 'Hulk', 'SikiTa'],
    'age': [22, 11, 33]
}
# and now lets transfer it into data frame:
new_df = pd.DataFrame(people)
new_df

      name last_name  age
0    Power    Zordon   22
1  Rangers      Hulk   11
2    Ritta    SikiTa   33

In [33]:
# We have DataFrames and Series:
print(type(new_df['name']), type(new_df))

<class 'pandas.core.series.Series'> <class 'pandas.core.frame.DataFrame'>

In [34]:
# Series: a list of data, but has more functionality than a python list. It's 1-D array.
# DataFrame: 2-D array; think of it as rows and columns. It is a 
# container for multiple of series object

In [37]:
new_df[['name', 'age']] # we may acces few columns like this

      name  age
0    Power   22
1  Rangers   11
2    Ritta   33

In [39]:
# GET A COLUMN:
# use .columns to grab some specific col:
new_df.columns

Index(['name', 'last_name', 'age'], dtype='object')

In [43]:
# GET A ROW:
# use .loc[] or .iloc[] to grab a row
# iloc[] - allows access rows by INT location, hence the name - integerLocation. 
# Say we wanna access 1st row using iloc, we use:
new_df.iloc[0]
# we might also access couple rows:
new_df.iloc[[0, 1]]

      name last_name  age
0    Power    Zordon   22
1  Rangers      Hulk   11

In [49]:
# what is more, we might access also data by providing rows-cols with iloc:
new_df.iloc[[0, 1], [1, 2]] # since its iloc then INTEGERS ONLY! new_df.iloc[[0, 1], [2]]
# works too for 1 col but few rows (we could have provided name of col if it was loc)

  last_name  age
0    Zordon   22
1      Hulk   11

In [50]:
# loc - gets rows (x cols as 2nd arg) of LABELS/STRING this time, not INT
# but dont get confused, right now our new_df has on the very left some "numbers",
# in fact they are labels but we will cover it in further notes

In [53]:
new_df.loc[[0, 1], ['name', 'age']] # NOTICE we call to cols by labels
# and ofc you could have called 1 col too: ... .loc[[0, 1], ['name']]

      name  age
0    Power   22
1  Rangers   11

In [63]:
schema = pd.read_csv('schema.csv')
schema.head(1)

       Column                                       QuestionText
0  Respondent  Randomized respondent ID number (not in order ...

In [67]:
df['Hobbyist'].value_counts() # just a quick tatse, counts vals (yes and no) in this col

Yes    50388
No     14028
Name: Hobbyist, dtype: int64

In [68]:
df.loc[[0], ['Hobbyist']]

  Hobbyist
0      Yes

In [70]:
df.loc[0]

Respondent                                                  1
MainBranch                     I am a developer by profession
Hobbyist                                                  Yes
Age                                                       NaN
Age1stCode                                                 13
                                       ...
WebframeWorkedWith                       ASP.NET;ASP.NET Core
WelcomeChange         Just as welcome now as I felt last year
WorkWeekHrs                                              50.0
YearsCode                                                  36
YearsCodePro                                               27
Name: 0, Length: 61, dtype: object